<form class="mainFlex {{cssClass}} {{ifThen (or (eq item.type 'avantage') (eq item.type 'desavantage')) 'large' ''}}" autocomplete="off">
    <img class="profil-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <input type="text" class="name" name="name" value="{{data.name}}" placeholder="{{localize "HP.Name"}}" />

    {{#if (or (eq item.type 'avantage') (eq item.type 'desavantage'))}}
    <input type="number" name="system.cout" value="{{systemData.cout}}" step=0.5 title="{{localize "HP.Cout"}}" />
    {{/if}}

    {{!-- Sheet Body --}}
    <section class="body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize "HP.Description"}}</a>
            <a class="item" data-tab="effets">{{localize "HP.EFFETS.Label"}}</a>
        </nav>

        <div class="tab description" data-group="primary" data-tab="description">
            {{editor systemData.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>

        {{> systems/harry-potter-jdr/templates/items/parts/effets.html}}
    </section>
</form>