<form class="mainFlex {{cssClass}} {{ifThen (eq item.type 'capacitefamilier') 'large' ''}}" autocomplete="off">
    <img class="profil-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <input type="text" class="name" name="name" value="{{data.name}}" placeholder="{{localize "HP.Name"}}" />

    {{#if (eq item.type 'capacitefamilier')}}
    <input type="number" name="system.cout" value="{{systemData.cout}}" step=0.5 title="{{localize "HP.Cout"}}" />
    {{/if}}

    {{editor systemData.description target="system.description" engine="prosemirror" rollData=actor button=true owner=owner editable=editable}}

    {{!-- Sheet Body --}}
    <section class="body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="effets">{{localize "HP.EFFETS.Label"}}</a>
        </nav>

        {{> systems/harry-potter-jdr/templates/items/parts/effets.html}}
    </section>
</form>