<form class="mainFlex {{cssClass}}" autocomplete="off">
    <img class="profil-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

    <input type="text" class="name" name="name" value="{{data.name}}" placeholder="{{localize "HP.Name"}}" />
    <input type="text" class="niveau" name="system.niveau" value="{{systemData.niveau}}" title="{{localize "HP.Niveau"}}" min="0" />

    <div class="data">
        <div class="ingredients">
            <span class="header">{{localize "HP.POTIONS.Ingredients"}}</span>
            <select name="system.ingredients.type">
                {{selectOptions item.listtypeingredients selected=systemData.ingredients.type localize=true}}
            </select>
            <div class="liste">
                {{#each systemData.ingredients.liste}}

                    {{#if (ingredientData ../item this '_id')}}
                        <input type="hidden" name="system.ingredients.items.{{ingredientIndex ../item this}}._id" value="{{ingredientData ../item this '_id'}}" />
                        <input type="hidden" name="system.ingredients.items.{{ingredientIndex ../item this}}.img" value="{{ingredientData ../item this 'img'}}" />
                        <input type="hidden" name="system.ingredients.items.{{ingredientIndex ../item this}}.system.rarete" value="{{ingredientData ../item this 'rarete'}}" />
                        <input type="hidden" name="system.ingredients.items.{{ingredientIndex ../item this}}.system.description" value="{{ingredientData ../item this 'description'}}" />
                        <input type="hidden" name="system.ingredients.items.{{ingredientIndex ../item this}}.system.enriched" value="{{ingredientData ../item this 'enriched'}}" />

                        <div class="main {{ifThen (isImpair @index) 'impair' 'pair'}}">
                            {{#unless (isImpair @index)}}
                                <i class="fa-solid fa-trash delete clickable" data-id="{{this}}" title="{{localize 'HP.Supprimer'}}"></i>
                                <i class="fa-solid fa-pen-to-square edit clickable" title="{{localize 'HP.Edit'}}" data-id="{{this}}"></i>
                            {{/unless}}
                            <input type="text" name="system.ingredients.items.{{ingredientIndex ../item this}}.name" value="{{ingredientData ../item this 'name'}}" />
                            {{#if (isImpair @index)}}
                                <i class="fa-solid fa-pen-to-square edit clickable" title="{{localize 'HP.Edit'}}" data-id="{{this}}"></i>
                                <i class="fa-solid fa-trash delete clickable" data-id="{{this}}" data-index="{{@index}}" title="{{localize 'HP.Supprimer'}}"></i>
                            {{/if}}
                            <div class="hovered">
                                <span class="rarete"><b>{{localize "HP.Rarete"}} :</b> {{ingredientData ../item this 'rarete'}}</span>
                                <div class="description">{{{ingredientData ../item this 'enriched'}}}</div>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
            <button type="action" class="addIngredient">{{localize "HP.Add"}}</button>
        </div>

        <label class="malus">
            <span>{{localize "HP.Malus"}}</span>
            <input type="text" name="system.malus" value="{{systemData.malus}}" />
        </label>

        <div class="cible">
            <span class="header">{{localize "HP.Cibles"}}</span>
            <div class="{{ifThen systemData.cibles.a 'checked' ''}}" data-cible="a" title="{{localize "HP.Animal"}}">
                <i class="fa-solid {{ifThen systemData.cibles.a 'fa-check' 'fa-xmark'}}"></i>
                <span>{{localize "HP.A"}}</span>
            </div>
            <div class="{{ifThen systemData.cibles.o 'checked' ''}}" data-cible="o" title="{{localize "HP.Objet"}}">
                <i class="fa-solid {{ifThen systemData.cibles.o 'fa-check' 'fa-xmark'}}"></i>
                <span>{{localize "HP.O"}}</span>
            </div>
            <div class="{{ifThen systemData.cibles.p 'checked' ''}}" data-cible="p" title="{{localize "HP.Personne"}}">
                <i class="fa-solid {{ifThen systemData.cibles.p 'fa-check' 'fa-xmark'}}"></i>
                <span>{{localize "HP.P"}}</span>
            </div>
            <div class="{{ifThen systemData.cibles.v 'checked' ''}}" data-cible="v" title="{{localize "HP.Vegetaux"}}">
                <i class="fa-solid {{ifThen systemData.cibles.v 'fa-check' 'fa-xmark'}}"></i>
                <span>{{localize "HP.V"}}</span>
            </div>
            <div class="large {{ifThen systemData.cibles.potion 'checked' ''}}" data-cible="potion" title="{{localize "HP.Potion"}}">
                <i class="fa-solid {{ifThen systemData.cibles.potion 'fa-check' 'fa-xmark'}}"></i>
                <span>{{localize "HP.Potion"}}</span>
            </div>
            <div class="large {{ifThen systemData.cibles.varie 'checked' ''}}" data-cible="varie" title="{{localize "HP.Varie"}}">
                <i class="fa-solid {{ifThen systemData.cibles.varie 'fa-check' 'fa-xmark'}}"></i>
                <span>{{localize "HP.Varie"}}</span>
            </div>
        </div>
    </div>

    <div class="block">
        {{editor systemData.effets target="system.effets" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</form>