<div class="tab capacites" data-group="primary" data-tab="capacites">
    {{#each actor.capacites}}
    <div class="block">
        <header class="js-toggler summary" data-item-id="{{_id}}">
            <i class="far fa-minus-square"></i>

            <span class="label draggable" data-item-id="{{_id}}">{{name}}</span>

            <div class="cmd">
                <i class="fa-solid fa-comment-dots clickable sendchat" title="{{localize "HP.SendChat"}}" data-label="{{name}}" data-id="{{_id}}"></i>
                <i class="fa-solid fa-pen-to-square item-edit clickable" title="{{localize 'HP.Edit'}}"></i>
                <i class="fa-solid fa-trash item-delete clickable" title="{{localize 'HP.Supprimer'}}"></i>
            </div>
        </header>

        <span class="description">{{{system.description}}}</span>
    </div>
    {{/each}}
    <button type="action" class="addCapacite item-create" data-type="capacite">{{localize "HP.Add"}}</button>
</div>